<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="Rock.Framework4.0" version="4.0.346" targetFramework="net40" />
  <package id="SonicClientLibraries" version="1.0.0" targetFramework="net40" />
  <package id="Topshelf" version="3.1.3" targetFramework="net40" />
  <package id="XSerializer" version="0.1.25" targetFramework="net40" />
</packages>